# IDE caches
/.vs/
/.idea/

# Caches
/_ReSharper.Caches/
/.nuke/temp/
/docs/.vitepress/cache/
/docs/package-lock.json

# Build artifacts
**/*/obj/
**/*/bin/
docs/.vitepress/dist/

# Test artifacts
**/*/TestResults/

# 3rd party
/docs/node_modules/
