# IDE caches
.vs/
.idea/
_ReSharper.Caches/

# Build artifacts
obj/
bin/
docs/.vitepress/dist/
docs/.vitepress/cache/

# Test artifacts
TestResults/

# 3rd party
docs/node_modules/

# Caches and logs
logs/
package-lock.json

.nuke/temp
